@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* #navbar > *{
    color: #1D267D;
} */

.display-6{
    font-family: 'Times New Roman', Times, serif;
}

.lead{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-btn{
    transition: 0.3s all;
}

.nav-btn > a:hover{
    color: #fff;
}

.nav-btn:hover{
    background-color: #1D267D;
}

/* .color-primary{
    color: #1D267D;
} */

#home{
    background-color: #1D267D;
    color: #fff;
}

#below-home{
    background-color: #7149C6;
}

#services{
    background-color: #1D267D;
}

.d-flex{
    gap:20px;
}

#testimonials{
    background-color: #7149C6;
}

.card{
    border-radius: 20px;
}

.icon-box{
    background-color: #7b81b2;
    border-radius: 10px;
}