@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* #navbar > *{
    color: #042fde;
} */

body{
    background-color: #042fde;
}

.times{
    font-family: 'Times New Roman', Times, serif;
}

.display-6{
    font-family: 'Times New Roman', Times, serif;
}

.lead{
    font-family: 'Times New Roman', Times, serif;
}

.nav-btn{
    transition: 0.3s all;
}

.nav-btn > a{
    color: #212529;
    
}

.nav-btn > a:hover{
    color: #fff;
}

.nav-btn:hover{
    color: #fff;
    background-color: 
    #042fde;
}

.color-primary{
    color: #042fde;
}

#home{
    background-color: #fff;
    color: black;
    clip-path: ellipse(72% 52% at 70% 47%);

}

#below-home{
    background-color: #042fde;
}

#services{
    background-color:#042fde;
}

.d-flex{
    gap:8px;
}

#testimonials{
    background-color: #ffff;
    color: black;
}

.card{
    border-radius: 20px;
}

.icon-box{
    background-color: 
    #042fde;
    border-radius: 30%;
    width: fit-content;
    block-size: fit-content;
    padding: 20px;
}

.link-box{
    background-color: #fff;
    color: 
    #042fde;

    border-radius: 10px;
    border-radius: 30%;
    width: fit-content;
    block-size: fit-content;
    padding: 20px;
}

.test-pallete{
    background-color: #042fde;
    color: #fff;
}

.home-btn{
    background-color: #fff;
    color: #042fde;
    outline: solid 1px #042fde;

}

.home-btn:hover{
    background-color: #042fde;
    color: #fff;
}

footer{
    background-color: #042fde;
    color: #fff;
}